@import "./variables";

.button {
  font-size: 12px;
  line-height: 21px;
  display: inline-block;
  background: $primary;
  border-radius: 2px;
  color: $light;
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
  width: 180px;

  &--hollow {
    border: 1px solid $primary;
    background-color: $light;
    color: $primary;
  }
}
