.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1.25rem;
  width: 100%;

  &--medium { max-width: 64rem; }
  &--small { max-width: 40rem; }
}

@media (min-width: 48em) {
  .container {
    position: relative;
    padding: 130px 1.25rem 0;
  }
}
