@media (min-width: 48em) {
  .grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.column {
  &.center {text-align: center;}

  @media (min-width: 48em) {
    &.text {
      padding: 90px 0 0 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}
